!!! 1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Auth
    %link{:rel => 'stylesheet', :href => 'http://www.w3.org/StyleSheets/Core/Modernist', :type => 'text/css'}
  %body
    =yield